@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body:not(.loaded) #slider img {
    display: none;
}





body {
    font-family: 'Awesome', sans-serif;
    width: 100%;
    height: 100%;
    color: #000000;
    /* color: #fff; */
    margin: 0;
    background: rgb(237, 205, 22) 10%;

}

.container {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    /*  */
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
    /*  */
    /* border: 1px #ccc solid; */
    /* padding: 10px; */
}


.displayed-text {
    font-size: 1.2em;
    opacity: 1;
}

h1 {
    font-size: 3em;
}

h3 {
    font-size: 2.3em;
}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}



.navbar ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    align-items: center;
    margin: 0;
    /* margin: -10px -10px; */
    /* padding: 0; */
    background-color: rgb(237, 205, 22);
    /* flex: 1; */
}

/* NAVIGATION BAR */

#logo {

    width: 40px;
    height: 40px;
    /* margin-right: auto;
    margin-left: 10px; */
}

.navbar li {
    display: flex;
    margin: 10px 10px;
    padding: 5px;
}

.navbar li a {


    /* justify-content: flex-start; */
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}


.navbar #contact-nav-bar {

    background-color: rgb(237, 205, 22);
    margin-right: 10px;
    margin-left: auto;


}

#contact-nav-img {
    cursor: pointer;
    width: 32px;
}

#contact-nav-text:hover {
    color: #fff
}

#contact-text {
    cursor: progress;
}

.hover-button:hover {
    color: white;
    cursor: pointer;
}


/* PHOTO AND WELCOME */
#intro-photo-and-text {
    flex-wrap: nowrap;
}

.intro {
    display: flex;
    /* margin: 10px; */
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px;
    border-radius: 25px;
    width: 70%;

    justify-content: center;
    align-items: center;
    color: #000000;
    /* align-items: center; */
    /* font-size: 2rem; */
    /* align-items: center; */
    /* justify-content: center; */
}

.intro h1 {
    /* max-width: 50%; */
    /* flex: 4; */
    /* font-size: 2rem; */
}

.intro img {

    width: 150px;
    /* flex: 1; */
    margin: 10px;
    padding: 10px;

    border-radius: 300px;
}


/*PROJECTS*/

.projects {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 25px;
    width: 70%;
    /* justify-content: space-around; */

}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 10px 0 10px 0;
}


.project img {
    border: 2px #000000;
    border: 2px solid black;
    max-width: 100%;
}

#project4 {
    width: 40%;
    align-self: center;
}


/* TECHNOLOGIES */

.technologies {

    margin: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px;
    border-radius: 25px;
    width: 70%;
}

/* ABOUT ME */

.about-me {
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px;
    border-radius: 25px;
    width: 70%;
    /* opacity: 0.2; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* flex-direction: column; */
    /* justify-content: center; */


    /* min-height: 50vh; */
    /* align-items: center; */

}

/*CONTACT*/

.contact {
    margin: 10px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 20px;
    border-radius: 25px;
    width: 70%;
}

#mail {
    color: #000000;
    text-decoration: none;
}

#mail:hover {
    color: #fff;
}


/* PANELS */
.panel {
    display: none;

}

.panel.active {
    display: flex;
    flex-wrap: wrap;

}

/* .navbar ul {
    display: inline-block;
    position: relative;
} */

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.image {
    position: relative;
    width: 400px;
}

.image__img {
    display: block;
    width: 100%;
}

.image__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: #009578;
}

.image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover>* {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}


/* MOBILE PHONES OR SMALLER DISPLAYS */
@media all and (max-width: 750px) {
    /* .navbar {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 1;
    } */

    .intro {
        width: 100%;
        margin: 10px 0 10px 0;
    }

    .navbar ul {
        display: grid;
    }

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
    }

    .projects {
        width: 100%;
    }

    .project img {
        max-width: 100%;
    }

    #project4 {
        width: 100%;
    }

    .technologies {
        margin: 10px 0 10px 0;
        width: 100%;
    }

    #intro-photo-and-text {
        flex-wrap: wrap;
    }

    .about-me {
        margin: 10px 0 10px 0;
        /* display: flex;
        flex-wrap: wrap; */
        flex-direction: column;
        /* justify-content: center; */

        width: 100%;
        /* min-height: 50vh; */
        /* align-items: center; */

    }

    /* .intro { */
    /* display: flex; */
    /* width: 80%; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
    /* font-size: 2rem; */
    /* align-items: center; */
    /* justify-content: center; */
    /* } */

    .contact {
        width: 80%;
    }
}