@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body:not(.loaded) #slider img {
    display: none;
}

@media(min-width: 768px) {
    .navbar {}

    .projects {
        display: flex;
        justify-content: space-around;
    }

    .project1 {
        flex: 1;
    }

    .project2 {
        flex: 1;
    }

    .project3 {
        flex: 1;
    }

    .project4 {
        flex: 1;
    }

    .navbar ul {
        display: flex;
        flex-wrap: wrap;

        list-style-type: none;
        margin: 0;
        padding: 0;
        background-color: #000000;
        flex: 1;
    }

    .navbar li {
        display: flex;

        padding: 5px;
    }

    .navbar li a {


        justify-content: flex-start;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    .navbar #contact-nav-bar {
        flex: 0 0 auto;
        display: flex;
        position: absolute;
        right: 2%;
        background-color: rgb(22, 187, 237);


    }

    .navbar li a:hover {
        background-color: #dddddd;
    }

}

body {
    font-family: 'Awesome', sans-serif;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container div {
    border: 1px #ccc solid;
    padding: 10px;
}

/* 
.navbar ul {
    display: flex;
    flex-wrap: wrap;

    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #000000;
    flex: 1;
}

.navbar li {
    display: flex;

    padding: 5px;
}

.navbar li a {


    justify-content: flex-start;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar #contact-nav-bar {

    background-color: rgb(22, 187, 237);


}

.navbar li a:hover {
    background-color: #dddddd;
} */


.intro {
    display: flex;
    font-size: 1.5em;
    align-items: center;
    /* justify-content: space-between; */
}

.intro h1 {
    flex: 1;
}

.intro img {

    max-width: 150px;
    flex: 1;

    /* height: 150px;
    width: 150px; */
    border-radius: 300px;
}