@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body:not(.loaded) #slider img {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    color: #000000;
    margin: 0;
    background: rgba(226, 166, 0, 0.3);
}



.box {
    box-shadow:
        0 14.3px 14px -6px rgba(0, 0, 0, 0.429),
        0 114px 326px -6px rgba(0, 0, 0, 0.48);
    background: rgb(240, 240, 240);
    border-radius: 20px;
}

.image-box {
    box-shadow:
        0 14.3px 14px -6px rgba(0, 0, 0, 0.429),
        0 114px 326px -6px rgba(0, 0, 0, 0.48);
    background: rgb(240, 240, 240);
    border-radius: 20px;
}

.box1 {
    box-shadow:
        0 0px 3px rgba(0, 0, 0, 0.223),
        0 0px 9.1px rgba(0, 0, 0, 0.295),
        0 0px 21.4px rgba(0, 0, 0, 0.339),
        0 0px 47.6px rgba(0, 0, 0, 0.368),
        0 0px 111.1px rgba(0, 0, 0, 0.385),
        0 0px 500px rgba(0, 0, 0, 0.38);
    background: rgb(240, 240, 240);
    border-radius: 20px;
}


.container {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -o-transition: all 1s linear;
    transition: all 1s linear;
}


.displayed-text {
    font-size: 1.2em;
    opacity: 1;

}

.navbar {
    display: flex;
    width: 100%;
    background: rgba(226, 166, 0, 1);
    border-radius: 0 0 10px 10px;
}


/* NAVIGATION BAR */

#logo {
    position: fixed;
    top: 0px;
    left: 10px;
    width: 40px;
    height: 40px;
}

.menu {
    display: flex;
    margin: 20px 20px;
    margin-left: 50px;
}

.menu a {
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    cursor: pointer;
}

.menu a:hover {
    color: white;
}

label {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 32px;

    display: none;
    width: 26px;
}

#toggle {
    display: none;
}

.hide-on-big-screen {
    display: none;
}



#contact-nav-bar img {
    position: fixed;
    top: 0px;
    right: 10px;
    width: 32px;
}


/* PHOTO AND WELCOME */
#intro-photo-and-text {
    flex-wrap: nowrap;
}

.intro {
    display: flex;
    margin: 20px;
    padding: 20px;
    width: 67%;
    align-items: center;
}

.intro img {
    width: 150px;
    margin: 10px;
    padding: 10px;
    border-radius: 300px;
}

.intro-text {
    width: 100%;
}

.text {
    text-align: end;
    font-size: 4em;
    max-width: 100%;
}

.text-h2 {
    text-align: end;
    font-size: 2.3em;
    max-width: 100%;
}


/*PROJECTS*/

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 25px;
    width: 70%;
}



.projects img {
    margin: 10px 0 10px 0;
    width: 95%;
}

/* TECHNOLOGIES */

.technologies h3 {
    margin: 20px
}

.technologies {
    display: flex;
    margin: 10px;

    padding: 20px;
    border-radius: 25px;
    width: 50%;
    height: 90vh;
}

/* ABOUT ME */

.about-me {
    margin: 10px;
    height: 90vh;
    padding: 20px;
    border-radius: 25px;
    width: 50%;
}

/*CONTACT*/

.contact {

    margin: 10px;

    padding: 20px;
    border-radius: 25px;
    width: 50%;
    height: 90vh;
}

#mail {
    color: #000000;
    text-decoration: none;
}

#mail:hover {
    color: #fff;
}


/* PANELS */
.panel {
    display: none;

}

.panel.active {
    display: flex;
    flex-wrap: wrap;

}

/* MOBILE PHONES OR SMALLER DISPLAYS */
@media only screen and (max-width: 750px) {

    .intro {
        width: 100%;
        margin: 10px 0 10px 0;
    }

    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
    }

    .menu a {
        display: block;
        margin: 0;
    }

    #toggle:checked+.menu {
        display: block;
    }

    #contact-nav-bar {
        display: none;
    }

    h1 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.8em;
    }

    /*projects here is not working so gonna have to sort that */
    .projects {
        width: 100%;
        line-height: 300px;
        margin: 10px 0 10px 0;
    }

    .technologies {
        margin: 10px 0 10px 0;
        width: 100%;
    }

    #intro-photo-and-text {
        flex-wrap: wrap;
    }

    .about-me {
        margin: 10px 0 10px 0;
        flex-direction: column;
        width: 100%;
    }

    .contact {
        margin: 10px 0 10px 0;
        width: 100%;
    }
}